/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

@media (max-width: 700px) {
.pace .pace-progress {
  background: white;
  position: fixed;
  z-index: 2000;
  top: 65px;
  right: 100%;
  width: 100%;
  height: 3px;
}
}